#content{
    background: #F5F5F5;
}
#logo{
    margin:auto;
    max-width:50%;
    height:auto;
    display:block
}
.topbar,
.sidebar-brand{
    max-height:70px;
}
.container{
    max-width:100%;
}
.dt-buttons{
    float:right
}
.dt-buttons button{
    border-radius:5px;
    border: 1px solid #d1d3e2
}
#versao,
.dataTables_filter,
.dataTables_info{
    float:left
}
.pagination{
    padding-top:13px
}
.jsPanel-headerbar{
    background-color:#0C3355
}
.jsPanel-content{
    background:#f5f5f5!important;
}
.card-header{
    margin-top:10px;
    background-color:#FFF!important;
    font-weight: bold;
    font-size: 1.25em;
}
.required:after {
    content:" *";
    color: red;
}
#creditos{
    float:right;
    text-align:right
}
